# Data Preparation for Exploratory Data Analysis of Aviation Accidents

This notebook focuses on preparing the aviation accidents dataset for analysis by cleaning, transforming, and standardizing raw data. It includes steps such as handling missing values, parsing dates and coordinates, normalizing categories, and exporting a clean version ready for exploratory data analysis.

---

## Table of Contents

1. [Observations on Raw Data Quality](#Observations-on-Raw-Data-Quality)
1. [Preparation](#Preparation)
   - [Importing Libraries](#1.-Importing-Libraries)
   - [Loading and Exploring Raw Data](#2.-Loading-and-Exploring-Raw-Data)
   - [Removing Low Confidence Entries and Irrelevant Columns](#3.-Removing-Low-Confidence-Entries-and-Irrelevant-Columns)
   - [Normalize Missing Values](#4.-Normalize-Missing-Values)
   - [Split Fatality Data](#5.-Split-Fatality-Data)
   - [Rename and Reorder Columns](#6.-Rename-and-Reorder-Columns)
   - [Parse Date and Time](#7.-Parse-Date-and-Time)
   - [Fill Missing Accident Types](#8.-Fill-Missing-Accident-Types)
   - [Clean Aircraft Type](#9.-Clean-Aircraft-Type)
   - [Normalize Aircraft Nature](#10.-Normalize-Aircraft-Nature)
   - [Fill Missing Operators](#11.-Fill-Missing-Operators)
   - [Standardize Damage Data](#12.-Standardize-Damage-Data)
   - [Impute Manufacture Year](#13.-Impute-Manufacture-Year)
   - [Extract Location Details](#14.-Extract-Location-Details)
   - [Clean Flight Phase](#15.-Clean-Flight-Phase)
   - [Fill Missing Airports](#16.-Fill-Missing-Airports)
   - [Parse Coordinates](#17.-Parse-Coordinates)
   - [Clean Airframe Hours](#18.-Clean-Airframe-Hours)
   - [Standardizing Unknown Values](#19.-Standardizing-Unknown-Values)
   - [Reset Index](#20.-Reset-index)
   - [Validate Preparation](#21.-Validate-Preparation)
   - [Export Cleaned Data](#22.-Export-Cleaned-Data)
23. [Conclusion](#Conclusion)

---

## Observations on Raw Data Quality

- Several columns (e.g., Unnamed: 6, link, MSN) are irrelevant for statistical or EDA purposes and will be dropped.

- Redundant or duplicate columns exist (e.g., acc. date vs Date, type vs Type, etc.).

- Some useful columns like Location need to be split into airport and country parts.

- Categorical fields such as Phase, Nature, and Aircraft damage contain a wide variety of values that will need to be simplified and normalized.

- Missing data is prevalent in multiple columns:

    - Year of manufacture: ~9% missing. Will be filled using the median per aircraft type.

    - Cycles: >60% missing. Will be dropped due to insufficient coverage.

    - Total airframe hrs: moderate-to-high missingness; treatment TBD based on analysis relevance.

## Preparation

**Remark**:
DataFrame rendering methods, such as those listed below and used at the preparation **process**, have been removed from the preparation **stages** (except initial and final) for greater clarity of the implementation itself.

- `df.head()`
- `df.describe()`
- `df.info()`
- `df[axis]`

### 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import datetime
import ast # for safely evaluating string representations of Python literals
# used later for converting stringified lists/dicts into actual Python objects

### 2. Loading and Exploring Raw Data

Loaded the dataset from CSV and created a copy to preserve the original state for future comparison after cleaning.

In [2]:
df = pd.read_csv("full_asn_dataset.csv")
initial_df = df # snapshot of initial dataframe to compare in the end of preparation

In [3]:
df.head()

,acc. date,type,reg.,operator,fat.,location,Unnamed: 6,dmg,link,Date,...,Location,Phase,Nature,Departure airport,Destination airport,ll,Total airframe hrs,Investigating agency,Confidence Rating,Cycles
0,2 Jan 1995,Boeing 737-298C,9Q-CNI,Air Zaire,0,Kinshasa-N'Djili Airport (FIH),NaN,w/o,https://asn.flightsafety.org/wikibase/324813,Monday 2 January 1995,...,Kinshasa-N'Djili Airport (FIH) -Congo (Democra...,Landing,Unknown,NaN,Kinshasa-N'Djili Airport (FIH/FZAA),"[-4.38575, 15.444569]",NaN,NaN,NaN,NaN
1,2 Jan 1995,Cessna 208 Caravan I,N242SS,Taquan Air Service,0,"Craig, AK",NaN,sub,https://asn.flightsafety.org/wikibase/359440,Monday 2 January 1995,...,"Craig, AK -United States of America",Taxi,Unknown,"Ketchikan, AK (5KE)",(KCGA),"[55.45956, -132.829803]",4982 hours,NTSB,Accident investigation report completed and in...,NaN
2,3 Jan 1995,de Havilland Canada DHC-6 Twin Otter 310,P2-IAA,Islands Nationair,0,Bili,NaN,w/o,https://asn.flightsafety.org/wikibase/324812,Tuesday 3 January 1995,...,Bili -Papua New Guinea,Take off,Training,Bili Airstrip,NaN,NaN,NaN,NaN,NaN,NaN
3,4 Jan 1995,Fokker 50?,NaN,Sudan Airways,0,Port Sudan Airport (PZU),NaN,non,https://asn.flightsafety.org/wikibase/324811,Wednesday 4 January 1995,...,Port Sudan Airport (PZU) -Sudan,En route,Passenger - Scheduled,Khartoum-Civil Airport (KRT/HSSS),Merowe Airport (MWE/HSMR),NaN,NaN,NaN,NaN,NaN
4,5 Jan 1995,Fokker 50,LN-BBA,"Braathens SAFE, lsf Norwegian Air Shuttle",0,Ålesund-Vigra Airport (AES),NaN,sub,https://asn.flightsafety.org/wikibase/324809,Thursday 5 January 1995,...,Ålesund-Vigra Airport (AES) -Norway,Landing,Passenger - Scheduled,Trondheim-Værnes Airport (TRD/ENVA),Ålesund-Vigra Airport (AES/ENAL),"[62.560372, 6.110164]",NaN,HSL,Accident investigation report completed and in...,NaN

In [4]:
df.describe(include="all")

,acc. date,type,reg.,operator,fat.,location,Unnamed: 6,dmg,link,Date,...,Location,Phase,Nature,Departure airport,Destination airport,ll,Total airframe hrs,Investigating agency,Confidence Rating,Cycles
count,8306,8306,8073,8252,8224,8284,0.0,8302,8306,8306,...,8306,8305,8302,7304,7338,6234,3105,4732,6644,941
unique,5648,2031,7819,4174,227,6051,NaN,6,8306,5648,...,6096,10,23,3084,3514,5194,2972,196,4,930
top,24 Oct 2005,Cessna 208B Grand Caravan,-,private,0,"Chicago-O'Hare International Airport, IL (ORD/...",NaN,sub,https://asn.flightsafety.org/wikibase/469640,Monday 24 October 2005,...,"Chicago-O'Hare International Airport, IL (ORD/...",Landing,Passenger - Scheduled,-,-,"[-4.38575, 15.444569]",320 hours,NTSB,Accident investigation report completed and in...,4490 flights
freq,12,288,5,151,6357,32,NaN,3602,1,12,...,32,2567,3022,440,444,23,4,2142,4304,2
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8306 entries, 0 to 8305
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   acc. date             8306 non-null   object
 1   type                  8306 non-null   object
 2   reg.                  8073 non-null   object
 3   operator              8252 non-null   object
 4   fat.                  8224 non-null   object
 5   location              8284 non-null   object
 6   Unnamed: 6            0 non-null      float64
 7   dmg                   8302 non-null   object
 8   link                  8306 non-null   object
 9   Date                  8306 non-null   object
 10  Time                  6551 non-null   object
 11  Type                  8306 non-null   object
 12  Owner/operator        8252 non-null   object
 13  Registration          8073 non-null   object
 14  MSN                   7991 non-null   object
 15  Year of manufacture   7546 non-null   float64
 16  Engine model          6380 non-null   object
 17  Fatalities            8306 non-null   object
 18  Other fatalities      8306 non-null   int64
 19  Aircraft damage       7368 non-null   object
 20  Category              8256 non-null   object
 21  Location              8306 non-null   object
 22  Phase                 8305 non-null   object
 23  Nature                8302 non-null   object
 24  Departure airport     7304 non-null   object
 25  Destination airport   7338 non-null   object
 26  ll                    6234 non-null   object
 27  Total airframe hrs    3105 non-null   object
 28  Investigating agency  4732 non-null   object
 29  Confidence Rating     6644 non-null   object
 30  Cycles                941 non-null    object
dtypes: float64(2), int64(1), object(28)
memory usage: 2.0+ MB

### 3. Removing Low-Confidence Entries and Irrelevant Columns

Removed rows with low-confidence data and dropped irrelevant or duplicate columns to reduce noise in the dataset.

In [6]:
df = df.drop(df[df["Confidence Rating"] == "Little or no information is available"].index)

In [7]:
to_drop = ["link", "Date", "Type", "location", "reg.", "Registration", "Investigating agency", 
           "Confidence Rating", "MSN", "fat.", "Engine model", "Other fatalities", "Owner/operator", "Unnamed: 6", "Cycles"]
df = df.drop(columns=to_drop)

### 4. Normalize Missing Values

Converted empty strings and hyphens to NaN for consistency in missing data representation.

In [8]:
df.replace("", np.nan, inplace=True)
df.replace("-", np.nan, inplace=True)

### 5. Split Fatality Data

Extracted numerical values for fatalities and occupants from a combined string column, cleaned text, handled missing values, and converted to integers.

In [9]:
df[["fatalities", "occupants"]] = df["Fatalities"].str.split(" / ", expand=True)
df = df.drop(columns="Fatalities")

df["fatalities"] = df["fatalities"].str.replace("Fatalities: ", "", regex=False)
df["occupants"] = df["occupants"].str.replace("Occupants:", "", regex=False)

df[["fatalities", "occupants"]] = df[["fatalities", "occupants"]].replace("", np.nan).fillna(0).astype(int)

### 6. Rename and Reorder Columns

Standardized column names for clarity and consistency, then reordered them to improve readability and logical grouping.

In [10]:
columns = ["accident_date", "aircraft_type", "operator", "damage_type", "accident_time", "year_of_manufacture", "damage_details", "accident_type", "location", "phase", "aircraft_nature", "departure_airport", "destination_airport", "coordinates", "airframe_hours", "fatalities", "occupants"]
df.columns = columns

df = df[["accident_date", "accident_time", "accident_type", "aircraft_type", "aircraft_nature", 
         "fatalities", "occupants", "operator", "damage_type", "damage_details", "year_of_manufacture", 
         "location", "phase", "departure_airport", "destination_airport", "coordinates", "airframe_hours"]]

### 7. Parse Date and Time

Converted accident date and time columns to proper datetime formats, dropped invalid or future dates, and handled parsing errors gracefully.

In [11]:
df["accident_date"] = pd.to_datetime(df["accident_date"], errors="coerce")
df = df[df["accident_date"].dt.year != 2025]

In [12]:
df = df.dropna(subset=["accident_date"]).copy()

In [13]:
df = df.drop(df[df["accident_date"].dt.year == 2025].index)

In [14]:
df["accident_time"] = pd.to_datetime(df["accident_time"], format="%H:%M", errors="coerce").dt.time

### 8. Fill Missing Accident Types

Replaced missing values in the accident type column with "Unknown" to retain categorical consistency.

In [15]:
df["accident_type"] = df["accident_type"].fillna("Unknown")

### 9. Clean Aircraft Type

Removed rows with unknown aircraft types and standardized names by stripping prefixes and uncertain suffixes using regex.

In [16]:
df = df[df["aircraft_type"] != "unknown"]

df["aircraft_type"] = df["aircraft_type"].str.replace(r"^de Havilland Canada\s+", "", regex=True)
# Regex: Starts with beginning of the line ^ and looks for matches in string, considering spaces after that \s+

df["aircraft_type"] = df["aircraft_type"].str.replace(r"\s*\?$", "", regex=True)
# Regex: Looks for matched question mark \? in the end of a string, considering spaces before

### 10. Normalize Aircraft Nature

Filled missing values and grouped detailed categories into broader types like Passenger, Cargo, Private, Other, and Special Purpose using a mapping dictionary.

In [17]:
df["aircraft_nature"].value_counts()

aircraft_nature
Passenger - Scheduled                         2984
Cargo                                          987
Passenger - Non-Scheduled/charter/Air Taxi     696
Military                                       601
Unknown                                        512
Ferry/positioning                              425
Executive                                      333
Private                                        278
Training                                       123
Passenger                                      120
Parachuting                                    109
Ambulance                                      102
Agricultural                                    96
Test                                            78
Fire fighting                                   55
Illegal Flight                                  53
Survey                                          46
SF                                              15
Calibration/Inspection                          13
Demo/Airshow/Display                            12
External load operation                          2
Aerial patrol                                    1
Name: count, dtype: int64

In [18]:
df["aircraft_nature"] = df["aircraft_nature"].fillna("Unknown")

nature_mapping = {
    "Passenger": "Passenger",
    "Passenger - Scheduled": "Passenger",
    "Passenger - Non-Scheduled/charter/Air Taxi": "Passenger",
    
    "Cargo": "Cargo",
    "Military": "Military",
    "Private": "Private",
    "Ferry/positioning": "Ferry/Positioning",
    "Executive": "Executive",

    "Ambulance": "Special Operation",
    "Agricultural": "Special Operation",
    "Fire fighting": "Special Operation",
    "Survey": "Special Operation",
    "Parachuting": "Special Operation",
    "External load operation": "Special Operation",
    "Aerial patrol": "Special Operation",

    "Illegal Flight": "Other",
    "Training": "Other",
    "Test": "Other",
    "Calibration/Inspection": "Other",
    "Demo/Airshow/Display": "Other",
    "SF": "Other",

    "Unknown": "Unknown"
}

df["aircraft_nature"] = df["aircraft_nature"].map(nature_mapping)

### 11. Fill Missing Operators

Assigned "Unknown" to missing operator entries to maintain categorical completeness, renamed "Private" category to pascal case.

In [19]:
df["operator"] = df["operator"].fillna("Unknown")
df["operator"] = df["operator"].replace({"private": "Private"})

### 12. Standardize Damage Data

Mapped abbreviated damage types to full labels, split the detailed descriptions into severity and outcome, standardized values, filled missing entries, and removed redundant columns.

In [20]:
df['damage_type'] = df['damage_type'].replace({
    'w/o':'Written-Off',
    'sub':'Substantial',
    'non':'None (No Damage)',
    'mis':'Aircraft Missing',
    'unk':'Unknown',
    'min':'Minor Damage'
})

df["damage_type"] = df["damage_type"].fillna("Unknown")
df.loc[df["damage_type"] == "None (No Damage)", "damage_details"] = "None (No Damage)"

split_cols = df['damage_details'].str.split(', ', n=1, expand=True)
df['damage_severity'] = split_cols[0]
df['damage_outcome'] = split_cols[1]

df[["damage_severity", "damage_outcome"]] = df[["damage_severity", "damage_outcome"]].fillna("Unknown")

df["damage_outcome"] = df["damage_outcome"].replace(
    {
        "written off": "Written-Off",
        "repaired": "Repaired"
    }
)

In [21]:
df = df.drop(columns=["damage_type", "damage_details"])

### 13. Impute Manufacture Year

Filled missing manufacturing years using the median value within each aircraft type group.

In [22]:
df["year_of_manufacture"] = df.groupby("aircraft_type")["year_of_manufacture"].transform(lambda x: x.fillna(x.median()))

### 14. Extract Location Details

Split location into exact accident location and country, filled missing parts, and dropped the original combined column.

In [23]:
df[["accident_location", "accident_country"]] = df["location"].str.rsplit("-", n=1, expand=True)
df["accident_location"] = df["accident_location"].replace("", "Unknown")

df = df.drop(columns="location")

### 15. Clean Flight Phase

Filled missing values and simplified a long category label for consistency in the phase column.

In [24]:
df["phase"] = df["phase"].fillna("Unknown")

In [25]:
df["phase"] = df["phase"].replace("Manoeuvring  (airshow, firefighting, ag.ops.)", "Manoeuvring")

### 16. Fill Missing Airports

Replaced missing departure and destination airport values with "Unknown" for uniformity.

In [26]:
df[["departure_airport", "destination_airport"]] = df[["departure_airport", "destination_airport"]].fillna("Unknown")

### 17. Parse Coordinates

Converted stringified coordinate lists into actual lists, extracted latitude and longitude, and removed the original column.

In [27]:
# At this step we are converting lists, which was misinterprited as strings due to csv format of input data, back to lists
df["coordinates"] = df["coordinates"].apply(
    lambda x: ast.literal_eval(x) if pd.notna(x) and x != 'NaN' else None
)

In [28]:
df[["latitude", "longitude"]] = df["coordinates"].apply(lambda x: pd.Series(x) if isinstance(x, list) 
                                                        and len(x) == 2 else pd.Series([None,None]))

In [29]:
df = df.drop(columns="coordinates")

### 18. Clean Airframe Hours

Removed text suffix and converted airframe hours to numeric values, handling any parsing errors.

In [30]:
df["airframe_hours"] = pd.to_numeric(df["airframe_hours"].str.replace(" hours", "", regex=False), errors='coerce')

### 19. Standardizing Unknown Values

During initial data preparation, some missing values in categorical columns were manually replaced with the string "Unknown" for readability and interpretability during exploratory analysis. However, in the final stage of preprocessing, all "Unknown" placeholders were reverted to NaN using:

In [31]:
df.replace("Unknown", np.nan, inplace=True)

This decision was made to improve consistency across the dataset and to streamline visualization — as most plotting libraries automatically exclude NaN values, resulting in cleaner and more focused plots. Additionally, using NaN allows for easier normalization of missing data and facilitates bulk conversion between NaN and "Unknown" if needed in the future.

### 20. Reset index

In [32]:
df = df.reset_index(drop=True)

### 21. Validate Preparation

#### Initial dataset for comparison

In [33]:
initial_df.head()

,acc. date,type,reg.,operator,fat.,location,Unnamed: 6,dmg,link,Date,...,Location,Phase,Nature,Departure airport,Destination airport,ll,Total airframe hrs,Investigating agency,Confidence Rating,Cycles
0,2 Jan 1995,Boeing 737-298C,9Q-CNI,Air Zaire,0,Kinshasa-N'Djili Airport (FIH),NaN,w/o,https://asn.flightsafety.org/wikibase/324813,Monday 2 January 1995,...,Kinshasa-N'Djili Airport (FIH) -Congo (Democra...,Landing,Unknown,NaN,Kinshasa-N'Djili Airport (FIH/FZAA),"[-4.38575, 15.444569]",NaN,NaN,NaN,NaN
1,2 Jan 1995,Cessna 208 Caravan I,N242SS,Taquan Air Service,0,"Craig, AK",NaN,sub,https://asn.flightsafety.org/wikibase/359440,Monday 2 January 1995,...,"Craig, AK -United States of America",Taxi,Unknown,"Ketchikan, AK (5KE)",(KCGA),"[55.45956, -132.829803]",4982 hours,NTSB,Accident investigation report completed and in...,NaN
2,3 Jan 1995,de Havilland Canada DHC-6 Twin Otter 310,P2-IAA,Islands Nationair,0,Bili,NaN,w/o,https://asn.flightsafety.org/wikibase/324812,Tuesday 3 January 1995,...,Bili -Papua New Guinea,Take off,Training,Bili Airstrip,NaN,NaN,NaN,NaN,NaN,NaN
3,4 Jan 1995,Fokker 50?,NaN,Sudan Airways,0,Port Sudan Airport (PZU),NaN,non,https://asn.flightsafety.org/wikibase/324811,Wednesday 4 January 1995,...,Port Sudan Airport (PZU) -Sudan,En route,Passenger - Scheduled,Khartoum-Civil Airport (KRT/HSSS),Merowe Airport (MWE/HSMR),NaN,NaN,NaN,NaN,NaN
4,5 Jan 1995,Fokker 50,LN-BBA,"Braathens SAFE, lsf Norwegian Air Shuttle",0,Ålesund-Vigra Airport (AES),NaN,sub,https://asn.flightsafety.org/wikibase/324809,Thursday 5 January 1995,...,Ålesund-Vigra Airport (AES) -Norway,Landing,Passenger - Scheduled,Trondheim-Værnes Airport (TRD/ENVA),Ålesund-Vigra Airport (AES/ENAL),"[62.560372, 6.110164]",NaN,HSL,Accident investigation report completed and in...,NaN

In [34]:
df.head()

,accident_date,accident_time,accident_type,aircraft_type,aircraft_nature,fatalities,occupants,operator,year_of_manufacture,phase,departure_airport,destination_airport,airframe_hours,damage_severity,damage_outcome,accident_location,accident_country,latitude,longitude
0,1995-01-02,NaT,Accident,Boeing 737-298C,NaN,0,0,Air Zaire,1973.0,Landing,NaN,Kinshasa-N'Djili Airport (FIH/FZAA),NaN,Destroyed,Written-Off,Kinshasa-N'Djili Airport (FIH),Congo (Democratic Republic),-4.385750,15.444569
1,1995-01-02,NaT,Accident,Cessna 208 Caravan I,NaN,0,8,Taquan Air Service,1986.0,Taxi,"Ketchikan, AK (5KE)",(KCGA),4982.0,Substantial,NaN,"Craig, AK",United States of America,55.459560,-132.829803
2,1995-01-03,NaT,Accident,DHC-6 Twin Otter 310,Other,0,2,Islands Nationair,1969.0,Take off,Bili Airstrip,NaN,NaN,Destroyed,Written-Off,Bili,Papua New Guinea,NaN,NaN
3,1995-01-04,NaT,Unlawful Interference,Fokker 50,Passenger,0,36,Sudan Airways,1990.0,En route,Khartoum-Civil Airport (KRT/HSSS),Merowe Airport (MWE/HSMR),NaN,None (No Damage),NaN,Port Sudan Airport (PZU),Sudan,NaN,NaN
4,1995-01-05,18:58:00,Accident,Fokker 50,Passenger,0,38,"Braathens SAFE, lsf Norwegian Air Shuttle",1988.0,Landing,Trondheim-Værnes Airport (TRD/ENVA),Ålesund-Vigra Airport (AES/ENAL),NaN,Substantial,Repaired,Ålesund-Vigra Airport (AES),Norway,62.560372,6.110164

In [35]:
df.describe(include="all")

,accident_date,accident_time,accident_type,aircraft_type,aircraft_nature,fatalities,occupants,operator,year_of_manufacture,phase,departure_airport,destination_airport,airframe_hours,damage_severity,damage_outcome,accident_location,accident_country,latitude,longitude
count,7999,5310,7954,7999,7129,7999.000000,7999.000000,7885,7808.000000,7624,6764,6785,3087.000000,7907,5696,7990,7999,6077.000000,6077.000000
unique,NaN,1191,5,1980,8,NaN,NaN,4057,NaN,9,3046,3473,NaN,5,2,5856,214,NaN,NaN
top,NaN,11:00:00,Accident,Cessna 208B Grand Caravan,Passenger,NaN,NaN,Delta Air Lines,NaN,Landing,"Chicago-O'Hare International Airport, IL (ORD/...","Chicago-O'Hare International Airport, IL (ORD/...",NaN,Substantial,Written-Off,"Chicago-O'Hare International Airport, IL (ORD/...",United States of America,NaN,NaN
freq,NaN,47,7295,283,3800,NaN,NaN,140,NaN,2488,45,54,NaN,3532,3966,32,2303,NaN,NaN
mean,2008-12-20 13:16:25.173146624,NaN,NaN,NaN,NaN,3.449181,40.815727,NaN,1987.934618,NaN,NaN,NaN,22178.206673,NaN,NaN,NaN,NaN,27.107611,-20.283219
min,1995-01-02 00:00:00,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,1938.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,-83.920000,-179.373333
25%,2001-06-05 00:00:00,NaN,NaN,NaN,NaN,0.000000,2.000000,NaN,1978.000000,NaN,NaN,NaN,6219.500000,NaN,NaN,NaN,NaN,10.083710,-84.564570
50%,2008-06-06 00:00:00,NaN,NaN,NaN,NaN,0.000000,6.000000,NaN,1989.000000,NaN,NaN,NaN,14597.000000,NaN,NaN,NaN,NaN,33.938224,-46.326500
75%,2016-04-08 00:00:00,NaN,NaN,NaN,NaN,0.000000,44.000000,NaN,1999.000000,NaN,NaN,NaN,32447.500000,NaN,NaN,NaN,NaN,43.459369,33.002700
max,2024-12-29 00:00:00,NaN,NaN,NaN,NaN,312.000000,560.000000,NaN,2023.000000,NaN,NaN,NaN,126184.000000,NaN,NaN,NaN,NaN,89.524997,179.340556
std,NaN,NaN,NaN,NaN,NaN,17.504049,72.574616,NaN,15.287882,NaN,NaN,NaN,21374.571752,NaN,NaN,NaN,NaN,23.951323,80.735220

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accident_date        7999 non-null   datetime64[ns]
 1   accident_time        5310 non-null   object
 2   accident_type        7954 non-null   object
 3   aircraft_type        7999 non-null   object
 4   aircraft_nature      7129 non-null   object
 5   fatalities           7999 non-null   int64
 6   occupants            7999 non-null   int64
 7   operator             7885 non-null   object
 8   year_of_manufacture  7808 non-null   float64
 9   phase                7624 non-null   object
 10  departure_airport    6764 non-null   object
 11  destination_airport  6785 non-null   object
 12  airframe_hours       3087 non-null   float64
 13  damage_severity      7907 non-null   object
 14  damage_outcome       5696 non-null   object
 15  accident_location    7990 non-null   object
 16  accident_country     7999 non-null   object
 17  latitude             6077 non-null   float64
 18  longitude            6077 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(12)
memory usage: 1.2+ MB

### 22. Export Cleaned Data

Saved the cleaned dataset in Feather format, which ensures fast input/output operations and preserves metadata such as column data types.

In [37]:
df.to_feather("clean_asn_dataset.feather")

## Conclusion

Throughout the data preparation process, the raw aviation safety dataset was significantly refined:

- Cleaned and streamlined by removing irrelevant columns, low-confidence entries, and poorly structured data.
- Enhanced structure and usability through renaming, reordering, and typing columns appropriately.
- Improved data quality by filling or transforming missing values using context-aware logic (e.g., groupwise medians, string parsing).
- Created new features by splitting composite fields like location and damage into meaningful, analysis-ready variables.
- Reduced noise and storage footprint, going from 31 to 19 columns and cutting memory usage by ~40%.

The resulting dataset is clean, structured, and well-suited for exploratory analysis, visualization, or modeling. It also retains metadata integrity thanks to the Feather export format, ensuring reliable future usage.

---
<div style="text-align: right; margin-top: 40px;">
<strong>Vladyslav Lysenko</strong> &nbsp;&nbsp; <strong>Vasudha Chandna</strong> &nbsp;&nbsp; <strong>Om Mistry</strong><br>
University of Toronto School of Continuing Studies<br>
August 2025
</div>